.navigation {
    background: #f4f5f6;
    border-bottom: .1rem solid #d1d1d1;
    display: block;
    height: 5.2rem;
    left: 0;
    max-width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.container {
    padding-bottom: 7.5rem;
    padding-top: 7.5rem;
}

.icon {
    width: 2em;
    height: 2em;
}